@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");
.header-img {
  box-shadow: 0px 4px 10px 4px #2a2a2a78;
  background-image: url("../img/overlay.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 20px; }
  .header-img .head-container-date {
    display: flex;
    justify-content: flex-end;
    height: 15%;
    margin-right: 2.5%;
    margin-top: .5%; }
    .header-img .head-container-date .header-date h2 {
      color: #fff;
      font-size: 1.5em; }
    @media screen and (max-width: 900px) {
      .header-img .head-container-date .header-date h2 {
        font-size: 1.25em; } }
    @media screen and (max-width: 600px) {
      .header-img .head-container-date .header-date h2 {
        font-size: 1em; } }

.head-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%; }
  .head-container-title .header-title {
    width: 100%;
    color: #fff; }
    .head-container-title .header-title h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d3d3d340;
      font-size: 5em; }
      .head-container-title .header-title h1 span {
        color: #2d372d; }
    @media screen and (max-width: 900px) {
      .head-container-title .header-title h1 {
        font-size: 3.5em; } }
    @media screen and (max-width: 600px) {
      .head-container-title .header-title h1 {
        font-size: 2em; } }

@media screen and (max-width: 900px) {
  .header-img {
    height: 150px; } }

@media screen and (max-width: 600px) {
  .header-img {
    height: 100px; } }

.list-content #list_name {
  margin: 0;
  padding: 0; }
  .list-content #list_name .item {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%; }
    .list-content #list_name .item .text {
      display: flex;
      align-items: center;
      height: 100%;
      width: 50%; }
      .list-content #list_name .item .text h2 {
        margin: 0;
        margin-left: 5%;
        font-size: 2.5em; }
    .list-content #list_name .item .item-btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 50px;
      width: 50%; }
      .list-content #list_name .item .item-btns button {
        box-shadow: 0px 2px 6px 2px #2a2a2a78;
        width: 100px;
        margin-right: 5%;
        font-size: 1em; }
        .list-content #list_name .item .item-btns button i {
          margin-left: 10px;
          font-size: 1em; }
    @media screen and (max-width: 900px) {
      .list-content #list_name .item .text h2 {
        font-size: 2em; }
      .list-content #list_name .item .item-btns button {
        width: 75px;
        padding: 5px;
        font-size: 1em; }
        .list-content #list_name .item .item-btns button i {
          margin-left: 8px;
          font-size: 0.8em; } }
    @media screen and (max-width: 600px) {
      .list-content #list_name .item .text h2 {
        font-size: 1.5em; }
      .list-content #list_name .item .item-btns button {
        width: 55px;
        padding: 2.5px;
        font-size: 0.7em; }
        .list-content #list_name .item .item-btns button i {
          margin-left: 6px;
          font-size: 0.6em; } }

#task_input {
  width: 50%; }

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 4px #2a2a2a78;
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0; }
  .footer-container #footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 90%;
    height: 10%;
    padding: 5px 0;
    font-size: 2.5em;
    justify-content: center; }
    .footer-container #footer #item_input {
      margin: 20px 0;
      height: 40px;
      width: 65%;
      border-radius: 5px; }
    .footer-container #footer i {
      font-size: 1.2em;
      margin-left: 20px; }
    .footer-container #footer i:hover {
      color: #457854; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #00000008;
  color: #6c757c; }
